.homeBody{
    /* border: 2px solid red; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /* grid-gap: 40px; */
    padding: 80px 0px 80px 100px;
    min-width: 330px;
}

@media only screen and (max-width: 503px){
    .homeBody{
        padding-left: 150px;
    }
}